<!DOCTYPE html>
<html>
  <head>
    <title>Bird Sanctuary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <%- include('./partials/header'); %>
  </head>
  <body>
    <%- include('./partials/navbar'); %>
    <div class="container mt-4">
      <div class="card">
        <div class="card-header">
          Bird Collection
        </div>
        <div class="card-body">
          <h5 class="card-title">Bird</h5>
          <p class="card-text">Please click the button below to create bird</p>
          <a href="/birds/create" class="btn btn-success">Create Bird</a>
        </div>
      </div>
    </div>
  </body>
</html>
